<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
      <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section class="bg-white p-4 rounded shadow col-span-1">
  <h2 class="text-xl font-semibold mb-4">Add Product</h2>
  <form class="space-y-3">
    <input type="text" placeholder="Product Name" class="w-full p-2 border rounded"/>
    <input type="number" placeholder="Price" class="w-full p-2 border rounded"/>
    <textarea placeholder="Description" class="w-full p-2 border rounded"></textarea>
    <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 w-auto">
      Add Product
    </button>
  </form>
</section>
</body>
</html>