<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage User</title>
      <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section class="bg-white p-4 rounded shadow col-span-1">
  <h2 class="text-xl font-semibold mb-4">Add New User</h2>
  <form class="space-y-3" action="/admin" method="post">
    <input type="text" name="name" placeholder="username" class="w-full p-2 border rounded"/>
    <input type="email" name="email" placeholder="email" class="w-full p-2 border rounded"/>
    <input type="password" name="password" placeholder="password" class="w-full p-2 border rounded"/>
    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 w-auto">
      Add User
    </button>
  </form>
</section>
</body>
</html>